pipeline/pipeline_lookup.json
{
	"name": "pipeline_lookup",
	"properties": {
		"activities": [
			{
				"name": "Lookup_file",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "data_set_gen2_file",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "sam_varible",
					"value": {
						"value": "@activity('Lookup_file').output.value[4].result",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "sam1-var11",
					"value": {
						"value": "@activity('Lookup_file').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1_copy2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "sam-var2",
					"value": {
						"value": "@activity('Lookup_file').output.value[4].StudentName",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"sam_varible": {
				"type": "String"
			},
			"sam_var1": {
				"type": "Array"
			},
			"sam-var2": {
				"type": "String"
			},
			"sam1-var11": {
				"type": "String"
			}
		},
		"annotations": []
	}
}