pipeline/pipeline_for_each.json
{
	"name": "pipeline_for_each",
	"properties": {
		"activities": [
			{
				"name": "ForEach_para",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ForEach1_nor",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.sam_list",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait2",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 3
							}
						}
					]
				}
			},
			{
				"name": "ForEach1_nor",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('arr')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"sam_list": {
				"type": "array",
				"defaultValue": [
					2,
					3,
					4,
					5
				]
			}
		},
		"variables": {
			"arr": {
				"type": "Array",
				"defaultValue": [
					3,
					4,
					5,
					6
				]
			}
		},
		"annotations": []
	}
}